@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "EditTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Takım Üyesi Bilgi Güncelle</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x=>x.TeamID)
                    <label for="exampleInputName1">Adı Soyadı</label>
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Ad Soyad" asp-for="PersonName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görev</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Görev" asp-for="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görsel Yolu</label>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Görev" asp-for="ImageUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Facebook</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Facebook Linki Gir" asp-for="FacebookUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">İnstagram</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="İnstagram Linki Gir" asp-for="InstagramUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Twtiter</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Twit Linki Gir" asp-for="TwitterUrl">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail3">Website</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Web Site Link Gir" asp-for="WebSiteUrl">
                </div>
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>
