@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadPartial")

<body>

    <!-- header -->

    <div class="header">
        <div class="container">
            @await Component.InvokeAsync("_TopAddressPartial")

            @await Component.InvokeAsync("_SocialMediaPartial")

            <div class="clearfix"> </div>
        </div>
    </div>

    @await Component.InvokeAsync("_NavbarPartial")

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>In Harvest</h4>
                    <img src="images/banner1.jpg" alt=" " class="img-responsive">
                    <h5>Yazılım Mimarisi & OOP</h5>
                    <p>Object Oriented Programming nesneler üzerinde işlemlere odaklanan programlama dili modelidir. Yazılım geliştirme alanında oldukça yaygın kullanılan bir yöntemdir</p>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_AbaoutPartial");

    @await Component.InvokeAsync("_ServicePartial")

    @await Component.InvokeAsync("_TeamPartial")

    @await Component.InvokeAsync("_AnnouncementPartial");

    @await Component.InvokeAsync("_GaleryPartial");
    
    <!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">
           @await Component.InvokeAsync("_AddressPartial")

          @*  @await Component.InvokeAsync("_ContactPartial")*@

            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
        </div>
    </div>
    @await Component.InvokeAsync("_MapPartial")
    
    <div class="copy">
        <p>@DateTime.Now.Year OBG  . Tüm Hakları Saklıdır | Design by <a href="http://www.instagram.com/oguzberkitgenc">OBERKITG</a> </p>
    </div>
    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>
