@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadPartial")

<body>

    <!-- header -->

    <div class="header">
        <div class="container">
            @await Component.InvokeAsync("_TopAddressPartial")

            @await Component.InvokeAsync("_SocialMediaPartial")

            <div class="clearfix"> </div>
        </div>
    </div>

    @await Component.InvokeAsync("_NavbarPartial")

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>In Harvest</h4>
                    <img src="images/banner1.jpg" alt=" " class="img-responsive">
                    <h5>Yazılım Mimarisi & OOP</h5>
                    <p>Object Oriented Programming nesneler üzerinde işlemlere odaklanan programlama dili modelidir. Yazılım geliştirme alanında oldukça yaygın kullanılan bir yöntemdir</p>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_AbaoutPartial");

    @await Component.InvokeAsync("_ServicePartial")

    @await Component.InvokeAsync("_TeamPartial")

    @await Component.InvokeAsync("_AnnouncementPartial");

    @await Component.InvokeAsync("_GaleryPartial");
    
    <!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">
           @await Component.InvokeAsync("_AddressPartial")

            @await Component.InvokeAsync("_ContactPartial")
        </div>
    </div>
    <div class="map-w3ls">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6209.852593501853!2d-77.0416869731965!3d38.902800718279195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae69b9ad9dbd5ebf!2sRenaissance+Washington%2C+DC+Dupont+Circle+Hotel!5e0!3m2!1sen!2sin!4v1479208161830"></iframe>
    </div>
    <div class="bottom-social-w3ls w3ls-social-icons">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
        <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="copy">
        <p>© 2017 In Harvest . All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
    <!--/footer -->
    <!-- js -->
    <script type="text/javascript" src="~/web/js/jquery-2.1.4.min.js"></script>
    <!--gallery-js -->
    <script src="~/web/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!--//gallery-js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/web/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!--light-box-files -->
    <script src="~/web/js/jquery.chocolat.js"></script>
    <!--//light-box-files -->
    <script type="text/javascript">
        $(function () {
            $('.gallery a').Chocolat();
        });
    </script>
    <!-- //js -->
    <script src="~/web/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>


    <!--search-bar-->
    <script src="~/web/js/main.js"></script>
    <!--//search-bar-->
    <!--tabs-->
    <script src="~/web/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//tabs-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>


    <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="~/web/js/bootstrap-3.1.1.min.js"></script>

</body>
</html>
