@model EntityLayer.Concrete.Contact
<div class="col-md-9 contact-middle">
    <h2>İletişim Formu</h2>
    <form method="post">
        <div class="form-agileinfo">
            <p>Adınız Soyadınız</p>
            <input type="text" name="your name" placeholder="ad soyad" required="" />
            <p>Email Adresiniz</p>
            <input type="email" name="your email" placeholder="email" required="" />
        </div>
        <div class="form-agileits-w3layouts">
            <p>Mesajınız</p>
            <textarea name="your message" placeholder="mesaj..." required=""></textarea>
            <input type="submit" value="MESAJI GÖNDER">
        </div>
        <div class="clearfix"></div>
    </form>
</div>